src/degan/weights/binarization_generator_weights.h5 filter=lfs diff=lfs merge=lfs -text
src/degan/weights/deblur_weights.h5 filter=lfs diff=lfs merge=lfs -text
src/degan/weights/watermark_rem_weights.h5 filter=lfs diff=lfs merge=lfs -text
